    <div class="appmodal">
        <div class="appmodal__container container">
            <h2>Благодарим за заявку! </h2>
            <p>Наш менеджер свяжется с вами в ближайшее время.</p>
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none">
                    <path d="M26.0006 1.22803L1.00104 25.772" stroke="#D7D7D7" stroke-width="2" stroke-linecap="round"/>
                    <path d="M1.00001 1.22803L25.9996 25.772" stroke="#D7D7D7" stroke-width="2" stroke-linecap="round"/>
                </svg>
            </span>
        </div>
    </div>