<section class="partners-advantages">
    <div class="partners-advantages__container container">
        <div class="partners-advantages__title">
            <h2>Преимущества</h2>
        </div>
        <div class="partners-advantages__flex">
            <ul>
                <li>
                    <span>

                        <img src="img/icons/Rectangle 96 (4).png" alt="">
                    </span>
                    <h5>Качество</h5>
                    <p>Наши продукты прошли сертификацию и тщательный осмотр</p>
                </li>
                <li>
                    <span>

                        <img src="img/icons/Rectangle 96 (2).png" alt="">
                    </span>
                    <h5>Информационная поддержка</h5>
                    <p>Предоставляем подробную и актуальную информацию о нашей продукции</p>
                </li>
                <li>
                    <span>

                        <img src="img/icons/Rectangle 96 (3).png" alt="">
                    </span>
                    <h5>Организационная поддержка</h5>
                    <p>Помогаем организовать доставку</p>
                </li>
            </ul>
        </div>
    </div>
</section>