<section class="products">
    <div class="products__container container">
        <div class="products__top">
            <div class="products__title">
                <h2>Наши продукты</h2>
            </div>
            <div class="products__swiper">
                <span class="left slideprev">
                    <svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="Vector" d="M22 10H1M1 10L10 1M1 10L10 19" stroke="#D35D05" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </span>
                <span class="right slidenext">
                    <svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="Vector" d="M1 10H22M22 10L13 1M22 10L13 19" stroke="#D35D05" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </span>
            </div>
        </div>
        <div class="products__body">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="products__body-item">
                            <div class="item-pic">
                                <img src="img/icons/Remove-bg 1.png" alt="АКТИГЕЛЬ МУЛЬТИ-ГИН">
                            </div>
                            <div class="item-info">
                                <h6>АКТИГЕЛЬ МУЛЬТИ-ГИН</h6>
                                <div class="item-info__middle">
                                    <div class="left">
                                        <p>Назначение</p>
                                        <p>Форма выпуска</p>
                                        <p>Объем</p>
                                        <p>Страна производства </p>
                                    </div>
                                    <div class="right">
                                        <span>Бактериальный вагиноз</span>
                                        <span>Гель вагинальный</span>
                                        <span>50 мл</span>
                                        <span>Нидерланды</span>
                                    </div>
                                </div>
    
                            </div>
                            <div class="item-controls">
                                <button class="buy" onclick="toggleModal('buyModal')">Купить</button>
                                <button>Подробнее</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="products__body-item">
                            <div class="item-pic">
                                <img src="img/icons/Remove-bg 2.png" alt="АКТИГЕЛЬ МУЛЬТИ-ГИН">
                            </div>
                            <div class="item-info">
                                <h6>АКТИГЕЛЬ МУЛЬТИ-ГИН</h6>
                                <div class="item-info__middle">
                                    <div class="left">
                                        <p>Назначение</p>
                                        <p>Форма выпуска</p>
                                        <p>Объем</p>
                                        <p>Страна производства </p>
                                    </div>
                                    <div class="right">
                                        <span>Бактериальный вагиноз</span>
                                        <span>Гель вагинальный</span>
                                        <span>50 мл</span>
                                        <span>Нидерланды</span>
                                    </div>
                                </div>
    
                            </div>
                            <div class="item-controls">
                                <button class="buy" onclick="toggleModal('buyModal')">Купить</button>
                                <button>Подробнее</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="products__body-item">
                            <div class="item-pic">
                                <img src="img/icons/Remove-bg 3.png" alt="АКТИГЕЛЬ МУЛЬТИ-ГИН">
                            </div>
                            <div class="item-info">
                                <h6>АКТИГЕЛЬ МУЛЬТИ-ГИН</h6>
                                <div class="item-info__middle">
                                    <div class="left">
                                        <p>Назначение</p>
                                        <p>Форма выпуска</p>
                                        <p>Объем</p>
                                        <p>Страна производства </p>
                                    </div>
                                    <div class="right">
                                        <span>Бактериальный вагиноз</span>
                                        <span>Гель вагинальный</span>
                                        <span>50 мл</span>
                                        <span>Нидерланды</span>
                                    </div>
                                </div>
    
                            </div>
                            <div class="item-controls">
                                <button class="buy" onclick="toggleModal('buyModal')">Купить</button>
                                <!-- <button>Подробнее</button> -->
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="products__body-item">
                            <div class="item-pic">
                                <img src="img/icons/Remove-bg 1.png" alt="АКТИГЕЛЬ МУЛЬТИ-ГИН">
                            </div>
                            <div class="item-info">
                                <h6>АКТИГЕЛЬ МУЛЬТИ-ГИН</h6>
                                <div class="item-info__middle">
                                    <div class="left">
                                        <p>Назначение</p>
                                        <p>Форма выпуска</p>
                                        <p>Объем</p>
                                        <p>Страна производства </p>
                                    </div>
                                    <div class="right">
                                        <span>Бактериальный вагиноз</span>
                                        <span>Гель вагинальный</span>
                                        <span>50 мл</span>
                                        <span>Нидерланды</span>
                                    </div>
                                </div>
    
                            </div>
                            <div class="item-controls">
                                <button class="buy" onclick="toggleModal('buyModal')">Купить</button>
                                <button>Подробнее</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="products__body-item">
                            <div class="item-pic">
                                <img src="img/icons/Remove-bg 1.png" alt="АКТИГЕЛЬ МУЛЬТИ-ГИН">
                            </div>
                            <div class="item-info">
                                <h6>АКТИГЕЛЬ МУЛЬТИ-ГИН</h6>
                                <div class="item-info__middle">
                                    <div class="left">
                                        <p>Назначение</p>
                                        <p>Форма выпуска</p>
                                        <p>Объем</p>
                                        <p>Страна производства </p>
                                    </div>
                                    <div class="right">
                                        <span>Бактериальный вагиноз</span>
                                        <span>Гель вагинальный</span>
                                        <span>50 мл</span>
                                        <span>Нидерланды</span>
                                    </div>
                                </div>
    
                            </div>
                            <div class="item-controls">
                                <button class="buy" onclick="toggleModal('buyModal')">Купить</button>
                                <button>Подробнее</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="products__body-item">
                            <div class="item-pic">
                                <img src="img/icons/Remove-bg 1.png" alt="АКТИГЕЛЬ МУЛЬТИ-ГИН">
                            </div>
                            <div class="item-info">
                                <h6>АКТИГЕЛЬ МУЛЬТИ-ГИН</h6>
                                <div class="item-info__middle">
                                    <div class="left">
                                        <p>Назначение</p>
                                        <p>Форма выпуска</p>
                                        <p>Объем</p>
                                        <p>Страна производства </p>
                                    </div>
                                    <div class="right">
                                        <span>Бактериальный вагиноз</span>
                                        <span>Гель вагинальный</span>
                                        <span>50 мл</span>
                                        <span>Нидерланды</span>
                                    </div>
                                </div>
    
                            </div>
                            <div class="item-controls">
                                <button class="buy" onclick="toggleModal('buyModal')">Купить</button>
                                <button>Подробнее</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="products__body-item">
                            <div class="item-pic">
                                <img src="img/icons/Remove-bg 1.png" alt="АКТИГЕЛЬ МУЛЬТИ-ГИН">
                            </div>
                            <div class="item-info">
                                <h6>АКТИГЕЛЬ МУЛЬТИ-ГИН</h6>
                                <div class="item-info__middle">
                                    <div class="left">
                                        <p>Назначение</p>
                                        <p>Форма выпуска</p>
                                        <p>Объем</p>
                                        <p>Страна производства </p>
                                    </div>
                                    <div class="right">
                                        <span>Бактериальный вагиноз</span>
                                        <span>Гель вагинальный</span>
                                        <span>50 мл</span>
                                        <span>Нидерланды</span>
                                    </div>
                                </div>
    
                            </div>
                            <div class="item-controls">
                                <button class="buy" onclick="toggleModal('buyModal')">Купить</button>
                                <button>Подробнее</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="products__body-item">
                            <div class="item-pic">
                                <img src="img/icons/Remove-bg 1.png" alt="АКТИГЕЛЬ МУЛЬТИ-ГИН">
                            </div>
                            <div class="item-info">
                                <h6>АКТИГЕЛЬ МУЛЬТИ-ГИН</h6>
                                <div class="item-info__middle">
                                    <div class="left">
                                        <p>Назначение</p>
                                        <p>Форма выпуска</p>
                                        <p>Объем</p>
                                        <p>Страна производства </p>
                                    </div>
                                    <div class="right">
                                        <span>Бактериальный вагиноз</span>
                                        <span>Гель вагинальный</span>
                                        <span>50 мл</span>
                                        <span>Нидерланды</span>
                                    </div>
                                </div>
    
                            </div>
                            <div class="item-controls">
                                <button class="buy" onclick="toggleModal('buyModal')">Купить</button>
                                <button>Подробнее</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="products__body-item">
                            <div class="item-pic">
                                <img src="img/icons/Remove-bg 1.png" alt="АКТИГЕЛЬ МУЛЬТИ-ГИН">
                            </div>
                            <div class="item-info">
                                <h6>АКТИГЕЛЬ МУЛЬТИ-ГИН</h6>
                                <div class="item-info__middle">
                                    <div class="left">
                                        <p>Назначение</p>
                                        <p>Форма выпуска</p>
                                        <p>Объем</p>
                                        <p>Страна производства </p>
                                    </div>
                                    <div class="right">
                                        <span>Бактериальный вагиноз</span>
                                        <span>Гель вагинальный</span>
                                        <span>50 мл</span>
                                        <span>Нидерланды</span>
                                    </div>
                                </div>
    
                            </div>
                            <div class="item-controls">
                                <button class="buy" onclick="toggleModal('buyModal')">Купить</button>
                                <button>Подробнее</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="products__body-item">
                            <div class="item-pic">
                                <img src="img/icons/Remove-bg 1.png" alt="АКТИГЕЛЬ МУЛЬТИ-ГИН">
                            </div>
                            <div class="item-info">
                                <h6>АКТИГЕЛЬ МУЛЬТИ-ГИН</h6>
                                <div class="item-info__middle">
                                    <div class="left">
                                        <p>Назначение</p>
                                        <p>Форма выпуска</p>
                                        <p>Объем</p>
                                        <p>Страна производства </p>
                                    </div>
                                    <div class="right">
                                        <span>Бактериальный вагиноз</span>
                                        <span>Гель вагинальный</span>
                                        <span>50 мл</span>
                                        <span>Нидерланды</span>
                                    </div>
                                </div>
    
                            </div>
                            <div class="item-controls">
                                <button class="buy" onclick="toggleModal('buyModal')">Купить</button>
                                <button>Подробнее</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="products__body-item">
                            <div class="item-pic">
                                <img src="img/icons/Remove-bg 1.png" alt="АКТИГЕЛЬ МУЛЬТИ-ГИН">
                            </div>
                            <div class="item-info">
                                <h6>АКТИГЕЛЬ МУЛЬТИ-ГИН</h6>
                                <div class="item-info__middle">
                                    <div class="left">
                                        <p>Назначение</p>
                                        <p>Форма выпуска</p>
                                        <p>Объем</p>
                                        <p>Страна производства </p>
                                    </div>
                                    <div class="right">
                                        <span>Бактериальный вагиноз</span>
                                        <span>Гель вагинальный</span>
                                        <span>50 мл</span>
                                        <span>Нидерланды</span>
                                    </div>
                                </div>
    
                            </div>
                            <div class="item-controls">
                                <button class="buy" onclick="toggleModal('buyModal')">Купить</button>
                                <button>Подробнее</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</section>