<section class="card-singleproduct">
    @@include('../Brendcrumbs/_index.html',{})
    <div class="card-singleproduct__container container">


        <div class="for-swiper">
            <div class="controls">
                <span class="slideprev">
                    <svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="Vector" d="M22 10H1M1 10L10 1M1 10L10 19" stroke="#D35D05" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                </span>
                <span class="slidenext">
                    <svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="Vector" d="M1 10H22M22 10L13 1M22 10L13 19" stroke="#D35D05" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                </span>
            </div>
            <div class="swiper">
                <div class="swiper-wrapper">
    
                    <div class="swiper-slide">
                        <img src="img/icons/Remove-bg 1 (2).png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/icons/Remove-bg 1 (2).png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/icons/Remove-bg 1 (2).png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/icons/Remove-bg 1 (2).png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/icons/Remove-bg 1 (2).png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/icons/Remove-bg 1 (2).png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/icons/Remove-bg 1 (2).png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/icons/Remove-bg 1 (2).png" alt="">
                    </div>
    
                </div>
            </div>
        </div>

        <div class="card-singleproduct__right">
            <div class="card-singleproduct__right_container">
                <div class="right__title">
                    <h2>Актигель Мульти-Гин</h2>
                </div>
                <div class="right__info">
                    <div class="right__info-item">
                        <div class="info__item-title">
                            <h4>Характеристики</h4>
                            <span class="characteristics" id="characteristics"  onclick="toggleInfo(id)">
                                <span class="width"></span>
                                <span class="height"></span>
                            </span>
                            
                        </div>
                        <div class="info__item-hidden characteristics">
                            <div class="hidden__right">
                                <p>Назначение</p>
                                <p>Форма выпуска</p>
                                <p>Объем</p>
                                <p>Страна производства</p>
                                <p>Количество в упаковке</p>
                                <p>Уровень pH</p>
                            </div>
                            <div class="hidden__left">
                                <p>Бактериальный вагиноз</p>
                                <p>Бактериальный вагиноз</p>
                                <p>50 мл</p>
                                <p>Нидерланды</p>
                                <p>1 шт.</p>
                                <p>4.1</p>
                            </div>
                        </div>

                    </div>
                    <div class="right__info-item">
                        <div class="info__item-title">
                            <h4>Описание</h4>
                            <span id="description" onclick="toggleInfo(id)">
                                <span class="width"></span>
                                <span class="height"></span>
                            </span>
                        </div>
                        <div class="info__item-hidden description">
                            <p>Прямые поставки от официального дистрибьютора с русской инструкцией. Актигель Мульти-Гин (Actigel Multi-Gyn, Нидерланды) представляет собой высокоэффективный вагинальный гель для интимной гигиены с аппликатором."</p>
                            <p>Основан на патентованном комплексе 2QR. Данное натуральное вещество добывают из лекарственных растений. Оно состоит из сетчатого сополимера галактоарабинана и полиглюкороновой кислоты, экстракта листьев барбадосского алоэ (комплекс 2QR: запатентованный комплекс биоактивных полисахаридов с пребиотиками).</p>
                            <p>Вредные бактерии оплетаются длинными цепями полисахаридов, не могут прикрепиться к эпителию, питаться и размножаться, а следовательно, становятся неактивными и выводятся естественным путем</p>
                            <p>Этот блокирующий эффект абсолютно безопасен и безвреден, т.к. он не обусловлен воздействием на гормоны, токсическими веществами или агрессивными химикатами. Поэтому комплекс не обладает отрицательными побочными свойствами.</p>
                            <p>Помимо основного свойства, позволяющего блокировать, вредные бактерии, гель Мульти-Гин АктиГель укрепляет естественную восстановительную способность тканей и улучшает состояние слизистой оболочки. Он быстро восстанавливает оптимальную кислотность влагалища (показатель рН) и подавляет дрожжевые грибки (Candida).</p>
                            <p>
                                Мульти-Гель АктиГель способствует росту численности полезных лактобактерий (молочнокислых бактерий), в результате чего создает оптимальную и естественную микрофлору, препятствующую появлению дискомфорта.</p>
                        </div>

                    </div>
                    <div class="right__info-item">
                        <div class="info__item-title">
                            <h4>Показания к применению</h4>
                            <span id="application" onclick="toggleInfo(id)">
                                <span class="width"></span>
                                <span class="height"></span>
                            </span>
                        </div>
                        <div class="info__item-hidden application">
                            <p>Прямые поставки от официального дистрибьютора с русской инструкцией. Актигель Мульти-Гин (Actigel Multi-Gyn, Нидерланды) представляет собой высокоэффективный вагинальный гель для интимной гигиены с аппликатором."</p>
                            <p>Основан на патентованном комплексе 2QR. Данное натуральное вещество добывают из лекарственных растений. Оно состоит из сетчатого сополимера галактоарабинана и полиглюкороновой кислоты, экстракта листьев барбадосского алоэ (комплекс 2QR: запатентованный комплекс биоактивных полисахаридов с пребиотиками).</p>
                            <p>Вредные бактерии оплетаются длинными цепями полисахаридов, не могут прикрепиться к эпителию, питаться и размножаться, а следовательно, становятся неактивными и выводятся естественным путем</p>
                            <p>Этот блокирующий эффект абсолютно безопасен и безвреден, т.к. он не обусловлен воздействием на гормоны, токсическими веществами или агрессивными химикатами. Поэтому комплекс не обладает отрицательными побочными свойствами.</p>
                            <p>Помимо основного свойства, позволяющего блокировать, вредные бактерии, гель Мульти-Гин АктиГель укрепляет естественную восстановительную способность тканей и улучшает состояние слизистой оболочки. Он быстро восстанавливает оптимальную кислотность влагалища (показатель рН) и подавляет дрожжевые грибки (Candida).</p>
                            <p>
                                Мульти-Гель АктиГель способствует росту численности полезных лактобактерий (молочнокислых бактерий), в результате чего создает оптимальную и естественную микрофлору, препятствующую появлению дискомфорта.</p>
                        </div>

                    </div>
                    <div class="right__info-item">
                        <div class="info__item-title">
                            <h4>Противопоказания</h4>
                            <span id="contraindications" onclick="toggleInfo(id)">
                                <span class="width"></span>
                                <span class="height"></span>
                            </span>
                        </div>
                        <div class="info__item-hidden contraindications">
                            <p>Прямые поставки от официального дистрибьютора с русской инструкцией. Актигель Мульти-Гин (Actigel Multi-Gyn, Нидерланды) представляет собой высокоэффективный вагинальный гель для интимной гигиены с аппликатором."</p>
                            <p>Основан на патентованном комплексе 2QR. Данное натуральное вещество добывают из лекарственных растений. Оно состоит из сетчатого сополимера галактоарабинана и полиглюкороновой кислоты, экстракта листьев барбадосского алоэ (комплекс 2QR: запатентованный комплекс биоактивных полисахаридов с пребиотиками).</p>
                            <p>Вредные бактерии оплетаются длинными цепями полисахаридов, не могут прикрепиться к эпителию, питаться и размножаться, а следовательно, становятся неактивными и выводятся естественным путем</p>
                            <p>Этот блокирующий эффект абсолютно безопасен и безвреден, т.к. он не обусловлен воздействием на гормоны, токсическими веществами или агрессивными химикатами. Поэтому комплекс не обладает отрицательными побочными свойствами.</p>
                            <p>Помимо основного свойства, позволяющего блокировать, вредные бактерии, гель Мульти-Гин АктиГель укрепляет естественную восстановительную способность тканей и улучшает состояние слизистой оболочки. Он быстро восстанавливает оптимальную кислотность влагалища (показатель рН) и подавляет дрожжевые грибки (Candida).</p>
                            <p>
                                Мульти-Гель АктиГель способствует росту численности полезных лактобактерий (молочнокислых бактерий), в результате чего создает оптимальную и естественную микрофлору, препятствующую появлению дискомфорта.</p>
                        </div>

                    </div>
                    <div class="right__info-item">
                        <div class="info__item-title">
                            <h4>Состав</h4>
                            <span id="compound" onclick="toggleInfo(id)">
                                <span class="width"></span>
                                <span class="height"></span>
                            </span>
                        </div>
                        <div class="info__item-hidden compound">
                            <p>Прямые поставки от официального дистрибьютора с русской инструкцией. Актигель Мульти-Гин (Actigel Multi-Gyn, Нидерланды) представляет собой высокоэффективный вагинальный гель для интимной гигиены с аппликатором."</p>
                            <p>Основан на патентованном комплексе 2QR. Данное натуральное вещество добывают из лекарственных растений. Оно состоит из сетчатого сополимера галактоарабинана и полиглюкороновой кислоты, экстракта листьев барбадосского алоэ (комплекс 2QR: запатентованный комплекс биоактивных полисахаридов с пребиотиками).</p>
                            <p>Вредные бактерии оплетаются длинными цепями полисахаридов, не могут прикрепиться к эпителию, питаться и размножаться, а следовательно, становятся неактивными и выводятся естественным путем</p>
                            <p>Этот блокирующий эффект абсолютно безопасен и безвреден, т.к. он не обусловлен воздействием на гормоны, токсическими веществами или агрессивными химикатами. Поэтому комплекс не обладает отрицательными побочными свойствами.</p>
                            <p>Помимо основного свойства, позволяющего блокировать, вредные бактерии, гель Мульти-Гин АктиГель укрепляет естественную восстановительную способность тканей и улучшает состояние слизистой оболочки. Он быстро восстанавливает оптимальную кислотность влагалища (показатель рН) и подавляет дрожжевые грибки (Candida).</p>
                            <p>
                                Мульти-Гель АктиГель способствует росту численности полезных лактобактерий (молочнокислых бактерий), в результате чего создает оптимальную и естественную микрофлору, препятствующую появлению дискомфорта.</p>
                        </div>

                    </div>
                    <div class="right__info-item">
                        <div class="info__item-title">
                            <h4>Способ применения и дозы</h4>
                            <span id="doses" onclick="toggleInfo(id)">
                                <span class="width"></span>
                                <span class="height"></span>
                            </span>
                        </div>
                        <div class="info__item-hidden doses">
                            <p>Прямые поставки от официального дистрибьютора с русской инструкцией. Актигель Мульти-Гин (Actigel Multi-Gyn, Нидерланды) представляет собой высокоэффективный вагинальный гель для интимной гигиены с аппликатором."</p>
                            <p>Основан на патентованном комплексе 2QR. Данное натуральное вещество добывают из лекарственных растений. Оно состоит из сетчатого сополимера галактоарабинана и полиглюкороновой кислоты, экстракта листьев барбадосского алоэ (комплекс 2QR: запатентованный комплекс биоактивных полисахаридов с пребиотиками).</p>
                            <p>Вредные бактерии оплетаются длинными цепями полисахаридов, не могут прикрепиться к эпителию, питаться и размножаться, а следовательно, становятся неактивными и выводятся естественным путем</p>
                            <p>Этот блокирующий эффект абсолютно безопасен и безвреден, т.к. он не обусловлен воздействием на гормоны, токсическими веществами или агрессивными химикатами. Поэтому комплекс не обладает отрицательными побочными свойствами.</p>
                            <p>Помимо основного свойства, позволяющего блокировать, вредные бактерии, гель Мульти-Гин АктиГель укрепляет естественную восстановительную способность тканей и улучшает состояние слизистой оболочки. Он быстро восстанавливает оптимальную кислотность влагалища (показатель рН) и подавляет дрожжевые грибки (Candida).</p>
                            <p>
                                Мульти-Гель АктиГель способствует росту численности полезных лактобактерий (молочнокислых бактерий), в результате чего создает оптимальную и естественную микрофлору, препятствующую появлению дискомфорта.</p>
                        </div>

                    </div>  
                    <div class="right__info-item">
                        <div class="info__item-title">
                            <h4>Дополнительно</h4>
                            <span id="additionally" onclick="toggleInfo(id)"    >
                                <span class="width"></span>
                                <span class="height"></span>
                            </span>
                        </div>
                        <div class="info__item-hidden additionally">
                            <p>Прямые поставки от официального дистрибьютора с русской инструкцией. Актигель Мульти-Гин (Actigel Multi-Gyn, Нидерланды) представляет собой высокоэффективный вагинальный гель для интимной гигиены с аппликатором."</p>
                            <p>Основан на патентованном комплексе 2QR. Данное натуральное вещество добывают из лекарственных растений. Оно состоит из сетчатого сополимера галактоарабинана и полиглюкороновой кислоты, экстракта листьев барбадосского алоэ (комплекс 2QR: запатентованный комплекс биоактивных полисахаридов с пребиотиками).</p>
                            <p>Вредные бактерии оплетаются длинными цепями полисахаридов, не могут прикрепиться к эпителию, питаться и размножаться, а следовательно, становятся неактивными и выводятся естественным путем</p>
                            <p>Этот блокирующий эффект абсолютно безопасен и безвреден, т.к. он не обусловлен воздействием на гормоны, токсическими веществами или агрессивными химикатами. Поэтому комплекс не обладает отрицательными побочными свойствами.</p>
                            <p>Помимо основного свойства, позволяющего блокировать, вредные бактерии, гель Мульти-Гин АктиГель укрепляет естественную восстановительную способность тканей и улучшает состояние слизистой оболочки. Он быстро восстанавливает оптимальную кислотность влагалища (показатель рН) и подавляет дрожжевые грибки (Candida).</p>
                            <p>
                                Мульти-Гель АктиГель способствует росту численности полезных лактобактерий (молочнокислых бактерий), в результате чего создает оптимальную и естественную микрофлору, препятствующую появлению дискомфорта.</p>
                        </div>

                    </div> 
                    <button>Задать вопрос</button>
                    <button>Пожаловаться</button>
                </div>
            </div>
        </div>
    </div>
</section>