.movie { 
    width: 100%;
    height: 694px;
    background: #A1A1A1;
	.movie__container { 
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        span {

            svg { 
    
    
            }
        }
	}
}