<header class="header" id="header">
	<div class="header__mobile" id="header-mobile">
		<div class="header__mobile-container" id="mobilemenu">
			<div class="header__mobile_top">
				<a href="" class="header__mobile_logo">
					<img src="img/icons/logo.svg" alt="">
				</a>
				<span id="closemenu">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="18" viewBox="0 0 18 18"><defs><path id="avzva" d="M691.485 160.07l-1.414 1.415-7.071-7.071-7.071 7.071-1.414-1.414 7.07-7.071-7.07-7.071 1.414-1.415 7.07 7.071 7.072-7.07 1.414 1.414-7.07 7.07z"/></defs><g><g transform="translate(-674 -144)"><use fill="#b3b3b3" xlink:href="#avzva"/></g></g></svg>
				</span>
			</div>
			<div class="header__mobile_lang" id="mobilelang">
					<span class="select">
						<span class="selected" id="mobileselected">Ru</span>
						<span>
							<svg width="14"  height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path id="mobilechangecolorvector" d="M7.7269 8.23059C7.3323 8.64827 6.6677 8.64827 6.2731 8.23059L0.799332 2.43674C0.196869 1.79905 0.648955 0.75 1.52623 0.75H12.4738C13.351 0.75 13.8031 1.79905 13.2007 2.43674L7.7269 8.23059Z" fill="#D7D7D7"/>
							</svg>
						</span>
					</span>
					<ul class="menu" id="mobilelangmenu">
						<li>
							<a href="">En</a>
						</li>

					</ul>
				
			</div>
			<div class="header__mobile_links">
				<a href="" id="mobilecase">Портфель 
					<span>
						<svg xmlns="http://www.w3.org/2000/svg" width="14" height="9" viewBox="0 0 14 9" fill="none">
							<path d="M7.7269 8.23059C7.3323 8.64827 6.6677 8.64827 6.2731 8.23059L0.799332 2.43674C0.196869 1.79905 0.648955 0.75 1.52623 0.75H12.4738C13.351 0.75 13.8031 1.79905 13.2007 2.43674L7.7269 8.23059Z" fill="#D7D7D7"/>
						  </svg>
					</span>
				</a>
				<div class="mobile-case" id="mobilecaseblock">
					<div class="mobile-case__container container">
						<div class="mobile-case__info">
							<h5>Женское здоровье</h5>
							<a href="">Актигель Мульти-гин от бактериального вагиноза</a>
							<a href="">Флорафем Мульти-гин  от молочницы (кандидоза)</a>
							<a href="">Остопороз - Оротат Кальция Д3</a>
							<h5>Кардиология</h5>
							<a href="">Актигель Мульти-гин от бактериального вагиноза</a>
							<a href="">Флорафем Мульти-гин  от молочницы (кандидоза)</a>
							<a href="">Остопороз - Оротат Кальция Д3</a>
						</div>
					</div> 
				</div>
				<a href="partners.html">
					Партнерство
				</a>
				<a href="pharma.html">Фармаконадзор</a>
				<a href="">Контакты</a>
			</div>
			<div class="header__mobile_contact-us">
				<a href="tel:+7 (905) 731-10-49">+7 (905) 731-10-49</a>
				<button>Написать</button>
			</div>
		</div>
	</div>
	<div class="header__container container">
		<div class="header__left">
			<a href="index.html" class="header__logo">
				<img src="img/icons/logo.svg" alt="">				
			</a>

		</div>
		<div class="header__left-items" id="leftitems">
			<a href="" id="case">Портфель <span><svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M7.7269 8.23059C7.3323 8.64827 6.6677 8.64827 6.2731 8.23059L0.799332 2.43674C0.196869 1.79905 0.648955 0.75 1.52623 0.75H12.4738C13.351 0.75 13.8031 1.79905 13.2007 2.43674L7.7269 8.23059Z" fill="#D7D7D7"/>
				</svg>
				</span></a>
			<a href="partners.html">Партнерство</a>
			<a href="pharma.html">Фармаконадзор</a>
			<a href="">Контакты</a>

		</div>
		<div class="header__right">
			<button class="burger" id="burger">
				<span></span>
				<span></span>
			</button>

			<div class="lang" id="lang">
				<span class="select">
					<span class="selected" id="selected">Ru</span>
					<span>
						<svg width="14"  height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path id="changeColorVector" d="M7.7269 8.23059C7.3323 8.64827 6.6677 8.64827 6.2731 8.23059L0.799332 2.43674C0.196869 1.79905 0.648955 0.75 1.52623 0.75H12.4738C13.351 0.75 13.8031 1.79905 13.2007 2.43674L7.7269 8.23059Z" fill="#D7D7D7"/>
							</svg>
					</span>
				</span>
				<ul class="menu" id="langmenu">
					<li>
						<a href="">En</a>
					</li>
				</ul>
			</div>

			<button id="message" class="message">Написать</button>
			<a href="">+7 (905) 731-10-49</a>

		</div>
	</div>
	<section class="case">
		<div class="case__container container">
			<div class="case__info">
				<h5>Женское здоровье</h5>
				<a href="">Актигель Мульти-гин от бактериального вагиноза</a>
				<a href="">Флорафем Мульти-гин  от молочницы (кандидоза)</a>
				<a href="">Остопороз - Оротат Кальция Д3</a>
				<h5>Кардиология</h5>
				<a href="">Актигель Мульти-гин от бактериального вагиноза</a>
				<a href="">Флорафем Мульти-гин  от молочницы (кандидоза)</a>
				<a href="">Остопороз - Оротат Кальция Д3</a>
			</div>
			<div class="case__pic">
				<img src="img/icons/Remove-bg 1.png" alt="Актигель Мульти-гин от бактериального вагиноза">
			</div>
		</div>
	</section>
</header>
