<section class="pharma">
    <div class="pharma__container container">
        <div class="pharma__title">
            <h1>Фармаконадзор</h1>
            <p>Следуя этическим принципам и требованиям российского законодательства, компания ООО “Ода Фарма”
                осуществляет сбор информации по безопасности, обрабатывает ее, оценивает и доводит до сведения
                регулирующих органов и врачей.</p>
            <p>Если в процессе применения медицинских продуктов ООО “Ода Фарма” у Вас возникло нежелательное явление
                и/или у Вас есть претензии к качеству продуктов компании, а также, если Вам стало известно о
                нежелательных явлениях, возникших у других потребителей при использовании продуктов ООО “Ода Фарма”,
                пожалуйста, сообщите об этом по электронной почте или позвоните по телефону: <a class="orange" href="tel:+7
                (905) 731-10-49">+7
                    (905) 731-10-49</a>. Также для передачи сообщения о нежелательном явлении Вы можете заполнить
                представленную ниже форму.</p>
            <p>Компания ООО “Ода Фарма” заботится о высоком качестве своей продукции и поэтому заинтересована в
                получении любой информации по безопасности в целях дальнейшей оценки и снижения риска возникновения
                нежелательных реакций у пациентов.</p>
            <p>* выделены обязательные вопросы</p>
        </div>
        <div class="pharma__body">
            <form action="">
                <div class="pharma__form-item">
                    <h3>Источник сообщения о нежелательных явлениях</h3>
                    <div class="grid">
                        <label for="" class="text-input">
                            <input type="text" name="" id="" placeholder="ФИО*">
                        </label>
                        <label for="" class="text-input">
                            <input type="text" name="" id="" placeholder="Должность и место работы">
                        </label>
                        <label for="" class="text-input">
                            <input type="text" name="" id="" placeholder="Адрес учреждения">
                        </label>
                        <label for="" class="text-input">
                            <input type="text" name="" id="" placeholder="Телефон">
                        </label>
                        <label for="" class="text-input">
                            <input type="text" name="" id="" placeholder="Email">
                        </label>
                    </div>
                </div>
                <div class="pharma__form-item">
                    <h3>Информация о пациенте</h3>
                    <div class="grid">
                        <label for="" class="text-input">
                            <input type="text" name="" id="" placeholder="ФИО*">
                        </label>
                        <label for="" class="text-input">
                            <input type="text" name="" id="" placeholder="№ амбулаторной карты или истории болезни">
                        </label>
                        <label for="" class="text-input">
                            <input type="text" name="" id="" placeholder="Дата рождения*">
                        </label>
                        <label for="" class="text-input">
                            <input type="text" name="" id="" placeholder="Вес (кг)*">
                        </label>
                        <div class="quest-input">
                            <p>Беременность*</p>
                            <div class="buttons">
                                <label for="" class="input-quest__checkbox">
                                    <input type="checkbox" name="" id="">
                                    <span>Да</span>
                                </label>
                                <label for="" class="input-quest__checkbox">
                                    <input type="checkbox" name="" id="">
                                    <span>Нет</span>
                                </label>
                            </div>
                        </div>
                        <label for="" class="text-input">
                            <input type="text" name="" id="" placeholder="Срок в неделях">
                        </label>
                        <div class="quest-input">
                            <p>Аллергия*</p>
                            <div class="buttons">
                                <label for="" class="input-quest__checkbox">
                                    <input type="checkbox" name="" id="">
                                    <span>Да</span>
                                </label>
                                <label for="" class="input-quest__checkbox">
                                    <input type="checkbox" name="" id="">
                                    <span>Нет</span>
                                </label>
                            </div>
                        </div>
                        <div class="quest-input">
                            <p>Нарушение функции печени*</p>
                            <div class="buttons">
                                <label for="" class="input-quest__checkbox">
                                    <input type="checkbox" name="" id="">
                                    <span>Да</span>
                                </label>
                                <label for="" class="input-quest__checkbox">
                                    <input type="checkbox" name="" id="">
                                    <span>Нет</span>
                                </label>
                            </div>
                        </div>
                        <div class="quest-input">
                            <p>Нарушение функции почек*</p>
                            <div class="buttons">
                                <label for="" class="input-quest__checkbox">
                                    <input type="checkbox" name="" id="">
                                    <span>Да</span>
                                </label>
                                <label for="" class="input-quest__checkbox">
                                    <input type="checkbox" name="" id="">
                                    <span>Нет</span>
                                </label>
                            </div>
                        </div>
                        <div class="quest-input">
                            <p>Лечение</p>
                            <div class="buttons">
                                <label for="" class="input-quest__checkbox">
                                    <input type="checkbox" name="" id="">
                                    <span>Стационарное</span>
                                </label>
                                <label for="" class="input-quest__checkbox">
                                    <input type="checkbox" name="" id="">
                                    <span>Амбулаторное</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pharma__form-item">
                    <h3>Лекарственное средство (ЛС), вызвавшее нежелательную реакцию</h3>
                    <div id="reaction">
                        <div class="grid" >
                            <label for="" class="text-input">
                                <input type="text" name="" id="" placeholder="Название*">
                            </label>
                            <label for="" class="text-input">
                                <input type="text" name="" id="" placeholder="Производитель*">
                            </label>
                            <label for="" class="text-input">
                                <input type="text" name="" id="" placeholder="Страна*">
                            </label>
                            <label for="" class="text-input">
                                <input type="text" name="" id="" placeholder="Номер серии*">
                            </label>
                            <label for="" class="text-input">
                                <input type="text" name="" id="" placeholder="Показание к применению">
                            </label>
                            <label for="" class="text-input">
                                <input type="text" name="" id="" placeholder="Способ применения">
                            </label>
                            <label for="" class="text-input">
                                <input type="text" name="" id="" placeholder="Разовая/Суточная доза">
                            </label>
                            <label for="" class="text-input">
                                <input type="text" name="" id="" placeholder="Дата начала терапии">
                            </label>
                            <label for="" class="text-input">
                                <input type="text" name="" id="" placeholder="Дата окончания терапии">
                            </label>
                            <label for="" class="text-input">
                                <input type="text" name="" id="" placeholder="Доза, вызвавшая нежелательную реакцию">
                            </label>
                        </div>
                    </div>
                    <button class="add-new-input" type="button" onclick="addNewReaction()">
                        <svg width="28" height="27" viewBox="0 0 28 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 13.5H27" stroke="#D35D05" stroke-linecap="round"/>
                            <path d="M14 26.5V0.5" stroke="#D35D05" stroke-linecap="round"/>
                        </svg>Добавить лекарственное средство                            
                    </button>
                </div>
                <div class="pharma__form-item">
                    <h3>Другие лекарственные средства, принимаемые в течение последних 3 месяцев, включая ЛС принимаемые пациентом самостоятельно (по собственному решению)</h3>
                    <div class="grid">
                        <div class="quest-input">
                            <p>Прием других лекарственных средств</p>
                            <div class="buttons">
                                <label for="" class="input-quest__checkbox">
                                    <input type="checkbox" name="" id="">
                                    <span>Да</span>
                                </label>
                                <label for="" class="input-quest__checkbox">
                                    <input type="checkbox" name="" id="">
                                    <span>Нет</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pharma__form-item">
                    <h3>Информация о нежелательной реакции (НР)</h3>
                    <div class="grid">
                        <label for="" class="text-input">
                            <textarea name="" id="" placeholder="Описание нежелательной реакции"></textarea>
                        </label>
                        <div class="reaction__info">
                            <div class="quest-input">
                                <p>Реакция*</p>
                                <div class="buttons">
                                    <label for="" class="input-quest__checkbox">
                                        <input type="checkbox" name="" id="" placeholder="">
                                        <span>Предвиденная</span>
                                    </label>
                                    <label for="" class="input-quest__checkbox">
                                        <input type="checkbox" name="" id="">
                                        <span>Нередвиденная </span>
                                    </label>
                                </div>
                            </div>
                            <div class="reaction-flex">
                                <label for="" class="text-input">
                                    <input type="text" name="" id="" placeholder="Дата начала реакции*">
                                </label>
                                <label for="" class="text-input">
                                    <input type="text" name="" id="" placeholder="Дата окончания реакции">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="quest-input">
                            <p>Сопровождалась ли отмена приема исчезновением НР?*</p>
                            <div class="buttons">
                                <label for="" class="input-quest__checkbox">
                                    <input type="checkbox" name="" id="">
                                    <span>Да</span>
                                </label>
                                <label for="" class="input-quest__checkbox">
                                    <input type="checkbox" name="" id="">
                                    <span>Нет</span>
                                </label>
                            </div>
                        </div>
                        <div class="quest-input">
                            <p>Отмечено ли повторение НР после повторного назначения ЛС?*</p>
                            <div class="buttons">
                                <label for="" class="input-quest__checkbox">
                                    <input type="checkbox" name="" id="">
                                    <span>Да</span>
                                </label>
                                <label for="" class="input-quest__checkbox">
                                    <input type="checkbox" name="" id="">
                                    <span>Нет</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="quest-input">
                            <p>Предпринятые меры</p>
                            <div class="buttons">
                                <label for="" class="input-quest__checkbox">
                                    <input type="checkbox" name="" id="">
                                    <span>Лечение</span>
                                </label>
                                <label for="" class="input-quest__checkbox">
                                    <input type="checkbox" name="" id="">
                                    <span>Без лечения</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <label for="" class="text-input">
                            <textarea name="" id="" placeholder="Лекарственная терапия НР (если понадобилась)"></textarea>
                        </label>
                    </div>
                    <div class="grid">
                        <div class="quest-input">
                            <p>Исход*</p>
                            <div class="buttons">
                                <label for="" class="input-quest__checkbox">
                                    <input type="checkbox" name="" id="">
                                    <span>Летальный</span>
                                </label>
                                <label for="" class="input-quest__checkbox">
                                    <input type="checkbox" name="" id="">
                                    <span>Нелетальный</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="quest-input criteries">
                            <p>Критерий серьезности (отметьте, если это подходит)*</p>
                            <div class="buttons-grid">
                                <label for="" class="input-quest__checkbox">
                                    <input type="checkbox" name="" id="">
                                    <span>Смерть</span>
                                </label>
                                <label for="" class="input-quest__checkbox">
                                    <input type="checkbox" name="" id="">
                                    <span>Госпитализация и ее продление</span>
                                </label>
                                <label for="" class="input-quest__checkbox">
                                    <input type="checkbox" name="" id="">
                                    <span>Инвалидность / нетрудоспособность</span>
                                </label>
                                <label for="" class="input-quest__checkbox">
                                    <input type="checkbox" name="" id="">
                                    <span>Угроза жизни</span>
                                </label>
                                <label for="" class="input-quest__checkbox">
                                    <input type="checkbox" name="" id="">
                                    <span>Врожденные аномалии</span>
                                </label>
                                <label for="" class="input-quest__checkbox">
                                    <input type="checkbox" name="" id="">
                                    <span>Другое</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <label for="" class="text-input">
                            <textarea name="" id="" placeholder="Другое"></textarea>
                        </label>
                    </div>
                    <div class="grid">
                        <label for="" class="text-input">
                            <textarea name="" id="" placeholder="Дополнительная информация"></textarea>
                        </label>
                    </div>
                </div>
                <div class="pharma-form-confirm">
                    <label for="confirm">
                        <!-- <span class="checkmark"></span> -->
                        <input type="checkbox" class="largecheckbox" name="" id="confirm">
                        <span>Согласен(на), что анонимные обращения не будут приниматься к рассмотрению. Подтверждаю достоверность указанной информации</span>
                    </label>
                    <button>Отправить</button>
                </div>
            </form>
        </div>
    </div>
</section>