    <section class="advantages">
        <div class="advantages__container container">
            <div class="advantages__title">
                <h2>Преимущества</h2>
            </div>
            <div class="advantages__body">
                <div class="advantages__item">
                    <div class="item__icon">
                        <img src="img/icons/Rectangle 96 (1).png" alt="">
                    </div>
                    <div class="advantages__item-title">
                        <h5>Качество</h5>
                    </div>
                    <p>Зарубежные  производственные площадки GMP, аккредитованные по стандартам  EMA, FDA, Минпромторга</p>
                </div>
                <div class="advantages__item">
                    <div class="item__icon">
                        <img src="img/icons/Rectangle 94 (4).png" alt="">
                    </div>
                    <div class="advantages__item-title">
                        <h5>Инновационный подход</h5>
                    </div>
                    <p>Новаторские идеи, соответствие мировым стандартам здравоохранения и комплексные предложения для различных отраслей медицины – эти идеи лежат в основе нашего бизнеса</p>
                </div>
                <div class="advantages__item">
                    <div class="item__icon">
                        <img src="img/icons/Rectangle 94 (3).png" alt="">
                    </div>
                    <div class="advantages__item-title">
                        <h5>Бесплатная доставка</h5>
                    </div>
                    <p>Мы качественно пакуем и доставляем по всей России</p>
                </div>
                <div class="advantages__item">
                    <div class="item__icon">
                        <img src="img/icons/Rectangle 94 (2).png" alt="">
                    </div>
                    <div class="advantages__item-title">
                        <h5>Пожелания</h5>
                    </div>
                    <p>Учитываем все особенности и прислушиваемся к вам</p>
                </div>
            </div>
        </div>
    </section>