<section class="comments">
    <div class="comments__container container">
        <div class="comments__title">
            <h2>Отзывы</h2>
            <div class="comments__button">
                <button class="slideprev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21" fill="none">
                        <path d="M22 10.5H1M1 10.5L10 1.5M1 10.5L10 19.5" stroke="#D35D05" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>       
                </button>
                <button class="slidenext">
 
                      <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21" fill="none">
                        <path d="M1 10.5H22M22 10.5L13 1.5M22 10.5L13 19.5" stroke="#D35D05" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>    
                </button>
            </div>
            </div>
           <div class="comments__swiper">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="comments__item">
                            <div class="comments__item_content">
                                <p>Гель просто пушка, мне очень нравится. Заказываю уже третий раз</p>
                            </div>
                            <div class="comments__item_content-author">
                                <p>Галина</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="comments__item">
                            <div class="comments__item_content">
                                <p>Гель просто пушка, мне очень нравится. Заказываю уже третий раз</p>
                            </div>
                            <div class="comments__item_content-author">
                                <p>Галина</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="comments__item">
                            <div class="comments__item_content">
                                <p>Гель просто пушка, мне очень нравится. Заказываю уже третий раз</p>
                            </div>
                            <div class="comments__item_content-author">
                                <p>Галина</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="comments__item">
                            <div class="comments__item_content">
                                <p>Гель просто пушка, мне очень нравится. Заказываю уже третий раз</p>
                            </div>
                            <div class="comments__item_content-author">
                                <p>Галина</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="comments__item">
                            <div class="comments__item_content">
                                <p>Гель просто пушка, мне очень нравится. Заказываю уже третий раз</p>
                            </div>
                            <div class="comments__item_content-author">
                                <p>Галина</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           </div> 
           <div class="comments__button-buy">
            <button class="buy" onclick="toggle('buyModal')">Купить</button>
           </div>
    </div>
</section>
